/*    PAGINA DE LOGIN DA MINHA APLICAÇÃO    */

.back{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login{
  text-align: center;
  padding: 0 10%;
}

.form-login iconify-icon{
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.form-email, .form-pass{
  padding: 2%;
  font-size: 1.8rem;
}

.form-button{
  padding: 1% 7%;
  font-size: 2rem;
  margin-top: 25px;
}

.form-link {
  margin-top: 20px;
}

.form-link Link{
  display: block;
  margin-top: 10px;
}

.alert-login{
  margin-top: 10px;
  color: red;
  background-color: rgba(255, 0, 0, 0.200);
  border: 1px solid red;
}
